body {
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
}

#main_canvas {
    border: 5px solid #e6e6e6;
}

.menuicon {
    height: 20px;
    width: 20px;
    background-color: #ddd;
    float: right;
    font-size: 12px;
    text-align: center;
    line-height: 1.9;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px;
}

#canvasmenu {
    margin: 0 auto;
}

#canvasmenu::after {
    clear: both;
    content: "";
    display: block;
}

#chatcontent {
    background-color: #dddddd;
    border-radius: 3px;
    padding-left: 5px;
    margin: 10px 10px 10px 10px;
}

#mychatcontent {
    background-color: #00e676;
    border-radius: 3px;
    padding-left: 5px;
    margin: 10px 10px 10px 10px;
}

#chatcontentlist {
    overflow-y: scroll;
    height: 650px;
}

#subChatContent {
    font-size: 70%;
    color: #555555;
    margin-left: 5px;
}

input[type="color"] {
    float: right;
    margin-right: 10px;
}

input[type="text"]#alphavalue {
    background-color: transparent;
    border-radius: 0;
    margin-right: 10px;
}

input[type="range"] {
    float: right;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 300px;
    height: 5px;
    margin-top: 10px;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

input[type="range"]#size::-webkit-slider-thumb {
    background-color: #555555;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
}

input[type="range"]#size::-webkit-slider-thumb:hover {
    border: none;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.4);
}

input[type="range"]#size::-webkit-slider-thumb:active {
    transform: scale(1);
}