body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-color: #ddd;
}

table#chatTable td {
    padding: 0;
}

td {
    padding: 0 15px;
}

td#chat {
    padding: 10px 15px;
}

#canvases {
    position: relative;
    width: 1290px;
    height: 730px;
}

#mainCanvas {
    pointer-events: auto;
}

#coverCanvas {
    display: none;
    pointer-events: none;
}

.canvas {
    border: 5px solid #e6e6e6;
    cursor: default;
    position: absolute;
}

.menuicon {
    font-size: 13px;
    width: 1.7em;
    height: 1.7em;
    float: right;
    text-align: center;
    line-height: 1.9;
    cursor: pointer;
    margin: 2px;
    color: #272727;
}

.selectable {
}

#alphavalue {
    width: 2.49em;
}

#canvasmenu {
    margin: 0 auto;
}

#canvasmenu::after {
     clear: both;
     content: "";
     display: block;
 }

#chatcontent {
    background-color: #dddddd;
    border-radius: 3px;
    padding-left: 5px;
    margin: 10px 10px 10px 10px;
}

#mychatcontent {
    background-color: #00e676;
    border-radius: 3px;
    padding-left: 5px;
    margin: 10px 10px 10px 10px;
}

#chatcontentlist {
    overflow-y: scroll;
    width: 305px;
    height: 620px;
}

#subChatContent {
    font-size: 70%;
    color: #555555;
    margin-left: 5px;
}

#modeicon {
    float: left;
    background-color: #e74c3c;
    border-radius: 0.83em;
}

#modetext {
    float: left;
}

input[type="color"] {
    float: right;
    margin-right: 10px;
}

input[type="text"] {
    -webkit-transition: all 0.1s;
       -moz-transition: all 0.1s;
         -o-transition: all 0.1s;
    max-width: 128px;
    margin: 0 10px;
    border: none;
    border-bottom: 1px solid #ddd;
}

input[type="text"]:focus {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
    border-bottom-color: #39F;
    outline: 0;
}

input[type="text"]#alphavalue {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-right: 10px;
}

input[type="range"] {
    float: right;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 300px;
    height: 5px;
    margin-top: 10px;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

input[type="range"]#size::-webkit-slider-thumb {
    background-color: #555555;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
}

input[type="range"]#size::-webkit-slider-thumb:hover {
    border: none;
}

input[type="range"]#alpha::-webkit-slider-thumb:active {
    transform: scale(1.4);
}


input[type="button"] {
    -webkit-transition: all 0.1s;
       -moz-transition: all 0.1s;
         -o-transition: all 0.1s;
    border: 1px solid #ddd;
    background: transparent;
    padding: 8px 15px;
}

input[type="button"]:hover {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
    cursor: pointer;
    border-color: #39F;
}

a {
    -webkit-transition: all 0.1s;
       -moz-transition: all 0.1s;
         -o-transition: all 0.1s;
    color: #272727;
    text-decoration: none;
}

a:hover {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
    color: #39F;
}