.picker-wrapper, .slide-wrapper {
    position: relative;
    float: left;
}

.picker-indicator, .slide-indicator {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.picker, .slide {
    cursor: crosshair;
    float: left;
}

.cp-default {
    background-color: lightgray;
    padding: 4px;
    border-radius: 5px;
}

.cp-default .picker {
    width: 155px;
    height: 155px;
}

.cp-default .slide {
    width: 30px;
    height: 155px;
}

.cp-default .slide-wrapper {
    margin-left: 10px;
}

.cp-default .picker-indicator {
    width: 5px;
    height: 5px;
    border: 2px solid darkblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
    background-color: white;
}

.cp-default .slide-indicator {
    width: 100%;
    height: 10px;
    left: -4px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    border: 4px solid lightblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}